@model EdChannel.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Product Update Category</h4>
            <h6>Update your Category</h6>
        </div>
        <div class="page-btn">
            <a asp-action="Index" class="btn btn-added">
                <img src="~/img/icons/return1.svg" class="me-2" alt="img">Back to list
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Image" />
                        <div class="form-group">
                            <label asp-for="ParentId" class="control-label"></label>
                            <select asp-for="ParentId" class="selectNewCat form-control form-small select select2-hidden-accessible" tabindex="-1" aria-hidden="true" data-select2-id="@Model.ParentId" asp-items="ViewBag.ParentId">
                                <option value="">Choose new category parent</option>
                            </select>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label"></label>
                            <input asp-for="MetaTitle" class="form-control" />
                            <span asp-validation-for="MetaTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Details" class="control-label"></label>
                            <input asp-for="Details" class="form-control" />
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="form-control" type="file" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        @if (@Model.Image!=null)
                        {
                            <div class="col-12">
                                <div class="product-list">
                                    <ul class="row">
                                        <li class="ps-0">
                                            <div class="productviews">
                                                <div class="productviewsimg">
                                                    <img src="~/images/@Model.Image" alt="img">
                                                </div>
                                                <div class="productviewscontent">
                                                    <div class="productviewsname">
                                                        <h2>@Model.Image</h2>
                                                        <h3>@Model.ImageFile?.Length</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                       
                        @*
                        <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label"></label>
                        <input asp-for="CreatedAt" class="form-control" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="ModifiedAt" class="control-label"></label>
                        <input asp-for="ModifiedAt" class="form-control" />
                        <span asp-validation-for="ModifiedAt" class="text-danger"></span>
                        </div> *@
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>